@page
@using System.ComponentModel
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Models
@model UI.Pages.Game

<div class="card">
    <div class="card-header">Edit your character</div>
    <form class="card-body" method="post">
        @foreach (var property in typeof(Player).GetProperties())
        {
            @Html.Label(property.GetCustomAttributes(true)
                .Select(a => (a as DisplayNameAttribute)?.DisplayName)
                .FirstOrDefault(name => name is not null) ?? property.Name)
            @Html.Editor(property.Name,  new { htmlAttributes = new{ @class="form-control"} })
            @Html.ValidationMessage(property.Name, new { @class="text text-danger" })
            <br/>
        }
        <input type="submit" class="btn btn-primary" value="Fight!"/>
    </form>
</div>

